<h2><%= @job.title %></h2>
<p>
  <%= simple_format(@job.description) %>
</p>
<div class="container-fluid text-center" style="font-size:30px; text-description:underline">
  <%= link_to("提交简历",'#') %>
</div>
