<header>
 <section class="header-content">

   <h1 class="header-title">One Step</h1>
   <h4 class="header-subtitle">One More Chance</h4>
   <p class="header-button"><%= link_to("Get started now",jobs_path(@job), :class => "btn btn-default") %></p>
 </section>
</header>


<section class="section">
  <div class="wrapper">
    <h2 class="section__title">About us</h2>
    <p class="section__intro">
      终身学习者的家园，变现的第一场所


    </p>
    <div class="box__grid">

      <article class="box">
        <a class="box__content" href="jobs"><i class="fa fa-lightbulb-o fa-3x"></i>
          <h4 class="box__title">发现</h4>
          <p> 让你的才华即时发光</p>
           <i class="fa fa-arrow-right"></i>
         </a>
        </article>

      <article class="box">
        <a class="box__content" href="jobs">
          <i class="fa fa-code fa-3x"></i>
          <h4 class="box__title"> 工程师 </h4>
          <p>作为一个开发者不来这里试试你咋想的</p>

            <i class="fa fa-arrow-right"></i>

        </a>
      </article>

      <article class="box">
        <a class="box__content" href="jobs">
          <i class="fa fa-space-shuttle fa-3x"></i>
          <h4 class="box__title">效率</h4>
          <p>快速走进你理想的职场</p>
          <i class="fa fa-arrow-right"></i>
        </a>
      </article>

    </div>
  </div>
</section>
<div class="section section--cta">
  <div class="wrapper">
    <h2 class="section__title">Applicants Said</h2>


    <ul class="row">
      <li>
    <blockquote class="quote-box col-sm-6">
      <p class="quotation-mark">
        “
      </p>
      <p class="quote-text">
    I getted a job quickly in OneStep
      </p>
      <hr>
      <div class="blog-post-actions">
        <p class="blog-post-bottom pull-left">
          Andy
        </p>
        <p class="blog-post-bottom pull-right">
          <span class="badge quote-badge">896</span>  ❤
        </p>
      </div>
    </blockquote>
  </li>
  <li>
  <blockquote class="quote-box col-sm-6">
    <p class="quotation-mark">
      “
    </p>
    <p class="quote-text">
  OneStep gives me a new chance
    </p>
    <hr>
    <div class="blog-post-actions">
      <p class="blog-post-bottom pull-left">
        Andy
      </p>
      <p class="blog-post-bottom pull-right">
        <span class="badge quote-badge">596</span>  ❤
      </p>
    </div>
  </blockquote>
  </li>
  <li>
    <blockquote class="quote-box col-sm-6">
      <p class="quotation-mark">
        “
      </p>
      <p class="quote-text">
    OneStep one more chance
      </p>
      <hr>
      <div class="blog-post-actions">
        <p class="blog-post-bottom pull-left">
          Andy
        </p>
        <p class="blog-post-bottom pull-right">
          <span class="badge quote-badge">596</span>  ❤
        </p>
      </div>
    </blockquote>
  </li>
  <blockquote class="quote-box col-sm-6">
    <p class="quotation-mark">
      “
    </p>
    <p class="quote-text">
  你们也来试试吧，反正我是在这里找到了理想的工作
    </p>
    <hr>
    <div class="blog-post-actions">
      <p class="blog-post-bottom pull-left">
        heysh
      </p>
      <p class="blog-post-bottom pull-right">
        <span class="badge quote-badge">596</span>  ❤
      </p>
    </div>
  </blockquote>
</ul>



    <p class="section__intro">他们在onestep都快速找到了心仪的工作.你也来试试吧</p>
  <p class="section_intro text-center"><%= link_to("Get started now",jobs_path(@jobs), :class => "btn btn-default") %></p>

  </div>
