/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome";

//---------Navbar---------

 .navbar-default {
     background-color: #212121;
     border-color: #212121;
     margin-bottom: 0;
     border-radius: 0;
 }

 .navbar-default .navbar-brand {
     color: #EF6C00;
     padding: 10px 15px;
     line-height: 30px;
 }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
     color: #FF6F00;
     background-color: transparent;
 }

 .navbar-default .navbar-nav > li > a {
     color: #EF6C00;
 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
     color: #FF6F00;
     background-color: transparent;
 }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
     color: #FF6F00;
     background-color: #FFE0B2;
 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
     background-color: #FFE0B2;
     color: #212121;
 }

 //---header----
 header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

header:before {
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
              url(https://cssanimation.rocks/levelup/public/images/background.jpg) no-repeat bottom;
  background-size: cover;
  content: "";
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}

header:after {
  background: #F9FCFF;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
    right: -5%;
    top: 90%;
  transform-origin: 0 0;
  transform: rotateZ(-4deg);
  z-index: 0;
}

.header-title, .header-subtitle {
  color: #fff;
}

.header-subtitle {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.header-button {
  transform: translateZ(.1px);
  position: relative;
  z-index: 10;
}


//----index----


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.5;
}


.hero h1 {
  margin: 50px 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}
.hero h1 span {
  font: 700 60px/1 "Dancing Script", cursive;
  display: block;
}
.hero h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  font-weight: 400;
  padding: 20px;
}
@media only screen and (min-width: 37.5em) {
  .hero h1 {
    font-size: 50px;
  }
  .hero h1 span {
    font-size: 76px;
  }
  .hero h2 {
    width: 76%;
    font-size: 18px;
  }
}

.wrapper {
  margin: 0 auto;
  width: 96%;
  max-width: 1120px;
}

.section {
  padding: 60px 0;
}
.section__title {
  font-size: 24px;
  color: #3b3b58;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 14px 0;
}
.section__intro {
  display: block;
  text-align: center;
  margin: 0 5% 30px;
}
@media only screen and (min-width: 43.75em) {
  .section__intro {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.section--cta {
  color: #454545;
  background: #f1f1f1;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin-bottom: 20px;
  background: #f9f9f9;
}
.box__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.box__title {
  font-family: "Montserrat", sans-serif;
}
.box__more {
  color: #ff4e5c;
}
.box__content {
  color: #454545;
  text-align: center;
  padding: 20px;
}
.box__content > i {
  color: #3b3b58;
}
.box__content:hover .box__more {
  color: #ff3545;
}
.box__content:hover .box__more i {
  padding-left: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
@media only screen and (min-width: 43.75em) {
  .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

.btn {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 300px;
  padding: 12px 18px;
  border-radius: 100px;
  background: #ff4e5c;
}
.btn:hover {
  background: #ff3545;
}

.footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  background: #3b3b58;
}
.footer p {
  opacity: .65;
}

//---saying---
blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(214, 208, 198, 0.2);
}

.quote-box{

    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: #D6CFC5;
    margin-top: 25px;
    color:white;
    width: 325px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;

}

.quotation-mark{

    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;

}

.quote-text{

    font-size: 19px;
    margin-top: -65px;
}
ul li{
  float:left;
  margin-left: 20px;
  list-style: none;
}

//---------Footer---------

footer {
    color: white;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}
